<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        html, body{
            height: 100%;
            width: 100%;
            margin: 0;
        }
        body{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        section{
            display: flex;
            width: 60%;
            justify-content: space-between;
        }
    </style>
</head>
<body>
    <h1>IN SOPT - SERVER / Seminar2</h1>
    <h2>index</h2>
    <section>
        <button type="button"><a href="/api/blog">blog</a></button>
        <button type="button"><a href="/api/comment">comment</a></button>
        <button type="button"><a href="/api/members">members</a></button>
        <button type="button"><a href="/api/movie">movie</a></button>
        <button type="button"><a href="/api/user">user</a></button>
    </section>
</body>
</html>